<div class='container' id="page-container">
  <div id="content-wrap">
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
          <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" routerLink="/">Home</a>
              <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdmin">Users</a>
              <a class="nav-item nav-link" routerLink="/training" >Training</a>
              <a class="nav-item nav-link" routerLink="/exercices" >Exercices</a>
              <a class="nav-item nav-link" (click)="logout()">Logout</a> -->

              <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Users</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="/users" *ngIf="isAdmin">All Users</a>
                      <a class="dropdown-item" routerLink="/users/new" *ngIf="isAdmin">New User</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Exercices</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/exercices">All Exercices</a>
                        <a class="dropdown-item" routerLink="/exercices/new">New Exercices</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Training</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink="/training">All Training</a>
                          <a class="dropdown-item" routerLink="/training/new">New Training</a>
                        </div>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                  </li>
                </ul>
          </div>
      </nav>
    </header>
    <section>
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    </section>
  </div>
<footer>
    <p> © {{year}} Copyright : SAKHRI Mohamed Amine</p>
  </footer>
</div>
